body {
  text-align: center;
}

#welcome {
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bio {
	height: 10vh;
}

#people {
	
}
